html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Anton';font-size: 22px;
}

a:hover {
    filter: brightness(150%);
}


/* Mobile first */
@media only screen {

    .mobileitem{
        display:block;
    }
    
    .desktopitem {
        display:none;
    }
    
    .desktopheadermenu {
        display: none;
    }
    

    /* Header Menu*/
    .mobileheadermenu {
        display: flex;
        justify-content: space-between;
        background-color: pink;
        color: black;
        width: 100%;
        height: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: -1px
    }

    .mobileheadermenu > div {
        margin: auto;
        font-size: 36px;
        width: 50%;
        height: 100%;
    }

    .mobileheadermenu > div > span {
        margin-left: 70%;
    }

    
    .mobileheadermenu > div > a > img {
        height: 100px;
    }

    /* Burger Menu */
    .hamburger {
        position: relative;
        display: inline-block;
        width: 1.25em;
        height: 0.8em;
        margin-right: 0.3em;
        border-top: 0.2em solid black;
        border-bottom: 0.2em solid black;
    }

    .hamburger:before {
        content: "";
        position: absolute;
        top: 0.3em;
        left: 0px;
        width: 100%;
        border-top: 0.2em solid black;
    }

    /* Image Menu */
    .mainmenu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        height: 90%;
    }

    .mainmenu > div {
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    .mainmenu > div > img {

        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    .mainmenu > div > a > img {

        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    
    /* Category Menus*/
    
    .categorymenu {
        display:flex;
        flex-wrap: wrap;
        margin:auto;
        height:90%;
        width:100%;
    }
    
    .categorymenu > div {
        width:50%;
        height:33%;
        overflow:hidden;
    }
    
    .categorymenu > div > img {
        width:100%;
        height:100%;
        object-fit: cover;
    } 
    
    .categorymenu > div > img:hover {
    filter: brightness(150%);
}
    
    .categorymenu > div > a > img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

/* Tablet */
@media only screen and (min-width:767px) {

    
    .mobileitem{
        display:none;
    }
    
    .desktopitem {
        display:block;
    }
    
    .mobileheadermenu {
        display: none;
    }

    .desktopheadermenu {
        visibility: visible;
        display: flex;
        justify-content: space-around;
        background-color: pink;
        color: black;
        width: 100%;
        height: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: -1px
    }

    .desktopheadermenu > div {
        margin: auto;
        font-size: 36px;
        width: 50%;
        height: 100%;
    }

    
    .desktopheadermenu > div > a > img {
        height: 100px;
    }


    /* Main Menu */
    .mainmenu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 84.8%;
    }

    .mainmenu > div {
        width: 50%;
        height: 50%;
    }

    .mainmenu > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .mainmenu > div > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    /* Category Menus*/
    .categorymenu {
        display:flex;
        flex-wrap: wrap;
        margin:auto;
        height:84.8%;
        width:100%;
    }
    
    .categorymenu > div {
        width:33%;
        height:50%;
        overflow:hidden;
    }
    
    .categorymenu > div > img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
    
    .categorymenu > div > img:hover {
    filter: brightness(150%);
}

    
    .categorymenu > div > a > img {
        width:100%;
        height:100%; 
        object-fit: cover;
    }
}
